body { background-image: url("../images/bPage.png"); color: red; }

/*------------------------------------
Head
-------------------------------------*/


/*------------------------------------
Body
-------------------------------------*/
p { margin: 0 0 0 0; }
.row {overflow: auto;}

img {
	height: 100px;
	width: 100px;
	
}
div { border: 1px solid yellow;}
/*------------------------------------
Footer
-------------------------------------*/










